language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

os:
  - linux

install:
  - cd src
  - python setup.py install
  - cd ..

script:
  - cd tests
  - python -m unittest discover gtfspy
  - cd ..
